@model IEnumerable<DNZ_Gayrimenkul.Models.Property>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div>

        <section id='content'>
            <section class='container'>
                <section class='row featured-items'>
                    <section class='span9'>
                        <div class='row'>
                            <div class='span9 featured-item-wrapper featured-item-list'>
                                @foreach (var i in Model )
                                {
                                    <div class='featured-item featured-list'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="img/photos/4834194361_85d5c4a5e0_b.jpg" alt="" />
                                                        <div class='banner'>@i.AdType.Name</div>
                                                        <a href="@Url.Action("Details", "Properties", new { id = i.ID })" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <div class='right'>
                                                        <h3><a href="property.html">@i.Title</a></h3>
                                                        <p>@i.Address.Country, @i.Address.City, @i.Address.District</p>
                                                        <div class='description'>
                                                            <p>@i.Description</p>
                                                        </div>
                                                        <div class='price-wrapper'>
                                                            <div class='price'>@i.Price TL</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>@i.HallCount Salon +  @i.RoomCount Oda +  @i.M2 M2</p>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }    
                            </div>
                        </div>
                        <div class="pagination">
                            <ul>
                                <li class='first-element'><a href="#">Prev</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">48</a></li>
                                <li><a href="#">49</a></li>
                                <li class='last-element'><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </section>
                    <aside class='span3'>
                        <section class='widget'>
                            <section class='widget-title uppercase'>
                                <div class='inner'>
                                    <h2>DETAYLI ARAMA</h2>
                                </div>
                            </section>
                            <section class='widget-content'>

                                @using (Html.BeginForm("SearchRent", "Search", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="widget-section">
                                        <div class="inner">
                                            <label for="location">Konum</label>
                                            <select name="AdresIl" id="AdresIl" class="full"><option value="İSTANBUL" selected="">İSTANBUL</option></select>
                                            <select name="AdresIlce" id="AdresIlce" class="full">
                                                <option value="Seçiniz">Seçiniz</option>
                                                <option value="ADALAR">ADALAR</option>
                                                <option value="ARNAVUTKÖY">ARNAVUTKÖY</option>
                                                <option value="ATAŞEHİR">ATAŞEHİR</option>
                                                <option value="AVCILAR">AVCILAR</option>
                                                <option value="BAĞCILAR">BAĞCILAR</option>
                                                <option value="BAHÇELİEVLER">BAHÇELİEVLER</option>
                                                <option value="BAKIRKÖY">BAKIRKÖY</option>
                                                <option value="BAŞAKŞEHİR">BAŞAKŞEHİR</option>
                                                <option value="BAYRAMPAŞA">BAYRAMPAŞA</option>
                                                <option value="BEŞİKTAŞ">BEŞİKTAŞ</option>
                                                <option value="BEYKOZ">BEYKOZ</option>
                                                <option value="BEYLİKDÜZÜ">BEYLİKDÜZÜ</option>
                                                <option value="BEYOĞLU">BEYOĞLU</option>
                                                <option value="BÜYÜKÇEKMECE">BÜYÜKÇEKMECE</option>
                                                <option value="ÇATALCA">ÇATALCA</option>
                                                <option value="ÇEKMEKÖY">ÇEKMEKÖY</option>
                                                <option value="ESENLER">ESENLER</option>
                                                <option value="ESENYURT">ESENYURT</option>
                                                <option value="EYÜP">EYÜP</option>
                                                <option value="FATİH">FATİH</option>
                                                <option value="GAZİOSMANPAŞA">GAZİOSMANPAŞA</option>
                                                <option value="GÜNGÖREN">GÜNGÖREN</option>
                                                <option value="KADIKÖY">KADIKÖY</option>
                                                <option value="KAĞITHANE">KAĞITHANE</option>
                                                <option value="KARTAL">KARTAL</option>
                                                <option value="KÜÇÜKÇEKMECE">KÜÇÜKÇEKMECE</option>
                                                <option value="MALTEPE">MALTEPE</option>
                                                <option value="PENDİK">PENDİK</option>
                                                <option value="SANCAKTEPE">SANCAKTEPE</option>
                                                <option value="SARIYER">SARIYER</option>
                                                <option value="SİLİVRİ">SİLİVRİ</option>
                                                <option value="SULTANBEYLİ">SULTANBEYLİ</option>
                                                <option value="SULTANGAZİ">SULTANGAZİ</option>
                                                <option value="ŞİLE">ŞİLE</option>
                                                <option value="ŞİŞLİ">ŞİŞLİ</option>
                                                <option value="TUZLA">TUZLA</option>
                                                <option value="ÜMRANİYE">ÜMRANİYE</option>
                                                <option value="ÜSKÜDAR">ÜSKÜDAR</option>
                                                <option value="ZEYTİNBURNU">ZEYTİNBURNU</option>
                                            </select>
                                            <select name="AdresMahalle" id="AdresMahalle" class="full">
                                                <option value="Seçiniz">Seçiniz</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="widget-section">
                                        <div class="inner">
                                            <label for="propertyType">Emlak Tipi</label>
                                            <select name="emlakTipi" id="propertyType" class="btn-block selectpicker" style="display: none;">
                                                <option>Bahçe Dubleksi</option>
                                                <option>Bahçe Katı</option>
                                                <option>Çatı Dubleksi</option>
                                                <option>Daire</option>
                                                <option>Dubleks</option>
                                                <option>İkiz Ev</option>
                                                <option>Müstakil Ev</option>
                                                <option>Tripleks</option>
                                                <option>Fourlex</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="widget-section">
                                        <div class="inner">
                                            <label for="category">İlan Tipi</label>
                                            <select name="ilanTipi" id="category" class="btn-block selectpicker" style="display: none;">
                                                <option>Konut Satılık</option>
                                                <option>Konut Kiralık</option>
                                                <option>Konuk Günlük Kiralık</option>
                                                <option>İş Yeri Satılık</option>
                                                <option>İş Yeri Kiralık</option>
                                                <option>Arsa Satılık</option>
                                                <option>Arsa Kiralık</option>
                                                <option>Turistik İşletme Satılık</option>
                                                <option>Turistik İşletme Kiralık</option>
                                                <option>Devremülk Satılık</option>
                                                <option>Devremülk Kiralık</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="widget-section first-half">
                                        <div class="inner">
                                            <label for="minPrice">Min. Fiyat</label>
                                            <input type="text" name='minFiyat' class="input-block-level" />
                                        </div>
                                    </div>
                                    <div class="widget-section second-half">
                                        <div class="inner">
                                            <label for="maxPrice">Max. Fiyat</label>
                                            <input type="text" name='maxFiyat' class="input-block-level" />
                                        </div>
                                    </div>
                                    <div class="widget-section">
                                        <div class="inner">
                                            <label for="bedrooms">Salon</label>
                                            <select name="salon" id="bedrooms" class="btn-block selectpicker" style="display: none;">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                            <label for="bedrooms">Oda</label>
                                            <select name="oda" id="bedrooms" class="btn-block selectpicker" style="display: none;">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="widget-section">
                                        <div class="inner" style="position: relative;">
                                            <label for="size">Metrekare</label>
                                            <input type="text" name="metrekare" id="size" class="input-block-level" value="500">
                                            <span class="measure-type">sqft</span>
                                        </div>
                                    </div>
                                    <section class="widget-buttons">
                                        <div class="inner">
                                            <button type="submit" class="btn btn-primary btn-large btn-block"><i class="icon-search icon-white"></i> Filtrele</button>
                                        </div>
                                    </section>
                                }
                            </section>
                            <a href="#" id='clearFilters'>Clear all filters</a>
                        </section>
                    </aside>
                </section>
            </section>
        </section>
    </div>
</body>

