@model DNZ_Gayrimenkul.ViewModels.PropertyViewModel

@{
    ViewBag.Title = "Details";
}

<section id='content' class='alternate-bg' style="padding-top:20px">
    <section class='container'>
        <section class='row featured-items'>
            <section class='span9'>
                <div class='property-box'>
                    <div class='top'>
                        <div class='row'>
                            <div class='left'>
                                <figure>
                                    <a rel="prettyPhoto[gallery]" href="@Model.Property.ImageUrl">
                                        <img src="@Model.Property.ImageUrl" alt="" />
                                    </a>
                                    <div class='banner'>@Model.Property.AdType.Name</div>
                                </figure>
                                <div class='title-line'>
                                    <div class='pull-left'>
                                        <h2>@Model.Property.Title</h2> <br />
                                        <p>@Model.Property.Address.District, @Model.Property.Address.City</p>
                                    </div>
                                    <div class='pull-right'>
                                        <span class='price'>$@Model.Property.Price.ToString("N")</span>
                                    </div>
                                </div>
                                <div class='description'>
                                    <p>@Model.Property.Description</p>
                                </div>
                            </div>
                            <div class='right'>
                                <h3>Galeri <span>(@Model.Property.Images.Count fotoğraf)</span></h3>
                                <div class='gallery'>
                                    @for (int i = 0; i < Model.Property.Images.Count; i++)
                                    {
                                        if (i % 2 == 0)
                                        {
                                            <text>
                                            <div class='line'>
                                                <figure>
                                                    <a rel="prettyPhoto[gallery]" href="@Model.Property.Images.ElementAt(i).Url"><img src="@Model.Property.Images.ElementAt(i).Url" alt="" /></a>
                                               </figure>
                                             </text>
                                        }
                                        else
                                        {
                                           
                                                
                                                    <figure>
                                                        <a rel="prettyPhoto[gallery]" href="@Model.Property.Images.ElementAt(i).Url"><img src="@Model.Property.Images.ElementAt(i).Url" alt="" /></a>
                                                    </figure>
                                          
                                            @:</div>
                                            
                                        }
                                    }                           
                                <a rel="prettyPhoto[gallery]" href="@Model.Property.Images.FirstOrDefault().Url" class='more'>Tüm Fotoğraflar</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class='author-section big-margins'>
                    <div class='left' style="width:100%">
                        <section class="title">
                            <div class="inner" style="border-radius: 4px; border-bottom: solid 1px #c3c5c9">
                                <h2>İç Özellikler</h2>
                            </div>
                        </section>
                        <div class='inner'>
                            @for (int i = 0; i < Model.innerSpecs.Count; i++)
                            {
                                if (i % 4 == 0)
                                {
                                    <text>
                                        <div class='row'>
                                            <div class='span2'><i class="icon-check icon-green"></i>@Model.innerSpecs.ElementAt(i).Name</div>
                                    </text>
                                }
                                else if (i % 4 == 3)
                                {
                                    <div class='span2'><i class="icon-check icon-green"></i>@Model.innerSpecs.ElementAt(i).Name</div>
                                     @:</div>
                                }
                                else
                                {
                                    <div class='span2'><i class="icon-check icon-green"></i>@Model.innerSpecs.ElementAt(i).Name</div>
                                }
                            }                      
                        </div>
                    </div>
                </div>
                <div class='author-section big-margins'>
                    <div class='left' style="width:100%">
                        <section class="title">
                            <div class="inner" style="border-radius: 4px; border-bottom: solid 1px #c3c5c9">
                                <h2>Dış Özellikler</h2>
                            </div>
                        </section>
                        <div class='inner'>
                            @for (int i = 0; i < Model.outerSpecs.Count; i++)
                            {
                                if (i % 4 == 0)
                                {
                                    <text>
                                        <div class='row'>
                                            <div class='span2'><i class="icon-check icon-green"></i>@Model.outerSpecs.ElementAt(i).Name</div>
                                    </text>
                                }
                                else if (i % 4 == 3)
                                {
                                    <div class='span2'><i class="icon-check icon-green"></i>@Model.outerSpecs.ElementAt(i).Name</div>
                                    @:</div>
                                }
                                else
                                {
                                    <div class='span2'><i class="icon-check icon-green"></i>@Model.outerSpecs.ElementAt(i).Name</div>
                                }
                            }    
                        </div>
                    </div>
                </div>
                <div class='author-section big-margins'>
                    <div class='left' style="width:100%">
                        <section class="title">
                            <div class="inner" style="border-radius: 4px; border-bottom: solid 1px #c3c5c9">
                                <h2>Konum</h2>
                            </div>
                        </section>
                        <div class='inner'>
                            @for (int i = 0; i < Model.locationSpecs.Count; i++)
                            {
                                if (i % 4 == 0)
                                {
                                    <text>
                                        <div class='row'>
                                            <div class='span2'><i class="icon-check icon-green"></i>@Model.locationSpecs.ElementAt(i).Name</div>
                                    </text>
                                }
                                else if (i % 4 == 3)
                                {
                                    <div class='span2'><i class="icon-check icon-green"></i>@Model.locationSpecs.ElementAt(i).Name</div>
                                    @:</div>
                                }
                                else
                                {
                                    <div class='span2'><i class="icon-check icon-green"></i>@Model.locationSpecs.ElementAt(i).Name</div>
                                }
                            } 
                        </div>
                    </div>
                </div>
            </section>
            <aside class='span3'>
                <section class='widget'>
                    <section class='widget-title uppercase'>
                        <div class='inner'>
                            <h2>Özellikler</h2>
                        </div>
                    </section>
                    <section class='widget-content'>
                        <form action="">
                            <div class='widget-section'>
                                <div class='inner'>
                                    <label for="location">Mimari</label>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Oda Sayısı</td>
                                                <td>@Model.Property.RoomCount</td>
                                            </tr>
                                            <tr>
                                                <td>Salon Sayısı</td>
                                                <td>@Model.Property.HallCount</td>
                                            </tr>
                                            <tr>
                                                <td>Banyo Sayısı</td>
                                                <td>@Model.Property.BathCount</td>
                                            </tr>
                                            <tr>
                                                <td>Metrekare</td>
                                                <td>@Model.Property.BathCount</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class='widget-section'>
                                <div class='inner'>
                                    <label for="propertyType">Isınma</label>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Isınma Tipi</td>
                                                <td>@Model.Property.HeatingType.Name</td>
                                            </tr>
                                            <tr>
                                                <td>Yakıt Tipi</td>
                                                <td>@Model.Property.FuelType.Name</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class='widget-section'>
                                <div class='inner'>
                                    <label for="category">Bina Bilgisi</label>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Binanın Yaşı</td>
                                                <td>@Model.Property.Age</td>
                                            </tr>
                                            <tr>
                                                <td>Binadaki Kat Sayısı</td>
                                                <td>@Model.Property.BuildingFloors</td>
                                            </tr>
                                            <tr>
                                                <td>Bulunduğu Kat</td>
                                                <td>@Model.Property.Floor.Name</td>
                                            </tr>
                                            <tr>
                                                <td>Site İçerisinde</td>
                                                <td>
                                                @if (Model.Property.LocatedInSite)
                                                {
                                                    <text>Evet</text>
                                                }
                                                else {
                                                     <text>Hayır</text>
                                                }</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class='widget-section'>
                                <div class='inner'>
                                    <label for="minPrice">İletişim</label>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>  DNZ GAYRİMENKUL A.Ş</td>
                                            </tr>
                                            <tr>
                                                <td>Göktürk Merkez Mah. Cumhuriyet Cad. No:4/7 Göktürk/Eyüp/İst.</td>
                                            </tr>
                                            <tr>
                                                <td>0 (212) 322 51 52</td>
                                            </tr>
                                            <tr>
                                                <td>0 (212) 322 51 52</td>
                                            </tr>
                                            <tr>
                                                <td>0 (212) 322 51 52</td>
                                            </tr>
                                            <tr>
                                                <td>0 (212) 322 51 52</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </section>
                </section>
            </aside>
        </section>
    </section>
</section>

















































@*
    <div>
        <h4>Property</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Address.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdType.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BuildingType.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BuildingType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConstructionType.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConstructionType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreditType.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeedStatus.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeedStatus.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Floor.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Floor.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FuelType.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FuelType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HeatingType.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HeatingType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PropertyStatus.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropertyStatus.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PropertyType.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropertyType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UsageStatus.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsageStatus.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AddressID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoomCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HallCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HallCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BathCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BathCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.M2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.M2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BuildingFloors)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BuildingFloors)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TradeAvailable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TradeAvailable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StudentAvailable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentAvailable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LocatedInSite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocatedInSite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.North)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.North)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.South)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.South)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.East)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.East)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.West)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.West)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsFeatured)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsFeatured)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RentRevenue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RentRevenue)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyFee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyFee)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
*@