@{
    ViewBag.Title = "Home Page";

}
@model DNZ_Gayrimenkul.ViewModels.HomeViewModel

<section id='homepage-slider'>
    <div class='controls-wrapper'>
        <section class='container'>
            <section class='row'>
                <div class='controls hidden-phone'>
                    <a href="#" class='prev'>Previous</a>
                    <a href="#" class='next'>Next</a>
                </div>
            </section>
        </section>
    </div>
    <section class='slider-wrapper'>
        <div class='homepage-slider hidden-phone'>
            <ul class='slides'>
                @foreach (var i in Model.Features)
                {
                    <li>
                        <img src="@i.ImageUrl" alt="" class='bg-image' />
                        <div class='container'>
                            <div class='row'>
                                <div class='span12'>
                                    <div class='text-box span6'>
                                        <h1><a href="property.html">@i.Title</a></h1>
                                        <p></p>
                                    </div>
                                    <div class='description'>
                                        <div class='left'>
                                            <div class='title'>
                                                <div class='big'>Seaway house</div>
                                                <div class='small'>Los Angeles, CA</div>
                                            </div>
                                            <div class='rooms'> 3 bedrooms - 2 bathrooms </div>
                                        </div>
                                        <div class='right'>
                                            <div class='price'>
                                                <div class='number'> $1200 </div>
                                                <div class='rate'> per month </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }    
            </ul>
        </div>
    </section>
</section>

<section id='main' role='main'>
    <section class='container'>
        <section class='row tab-finder'>
            <div class='span12'>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active first-tab"><a href="#tab1" data-toggle="tab">Satılık</a></li>
                        <li><a href="#tab2" data-toggle="tab">Kiralık</a></li>
                        <li><a href="#tab3" data-toggle="tab">Satmak İstiyorum</a></li>
                        <li class='last-tab'><a href="#tab4" data-toggle="tab">Kiralamak İstiyorum</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class='inner'>
                                @using (Html.BeginForm("SearchSale", "Search", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <select name="salon" class='span2 selectpicker search-select'>
                                        <option>Salon</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <select name="oda" class='span2 selectpicker search-select'>
                                        <option>Oda</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <input type="text" name='minFiyat' class='span2 search-price no-margin' placeholder="Min. Fiyat" />
                                    <span class='line-divider'>&ndash;</span>
                                    <input type="text" name='maxFiyat' class='span2 search-price' placeholder="Max. Fiyat" />
                                    <button type="submit" class='btn btn-primary search-property'><i class="icon-search icon-white"></i> Ara</button>
                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <div class='inner'>
                                
                                @using (Html.BeginForm("SearchRent", "Search", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <select name="salon" class='span2 selectpicker search-select'>
                                        <option>Salon</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <select name="oda" class='span2 selectpicker search-select'>
                                        <option>Oda</option>          
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <input type="text" name='minFiyat' class='span2 search-price no-margin' placeholder="Min. Fiyat" />
                                    <span class='line-divider'>&ndash;</span>
                                    <input type="text" name='maxFiyat' class='span2 search-price' placeholder="Max. Fiyat" />
                                    <button type="submit" class='btn btn-primary search-property'><i class="icon-search icon-white"></i> Ara</button>

                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <div class='inner'>
                                <form action="">
                                    <input type="text" name='search-string' class='search-string' placeholder="Örn. 'İstanbul', 'Ankara'" />
                                    <input type="text" name='search-year' class='search-year' placeholder="Yıl" />
                                    <select name="search-bedrooms" class='span2 selectpicker search-select'>
                                        <option>Salon</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <select name="search-bathrooms" class='span2 selectpicker search-select'>
                                        <option>Oda</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <input type="text" name='search-min-price' class='span2 search-price no-margin' placeholder="Min. Fiyat" />
                                    <span class='line-divider'>&ndash;</span>
                                    <input type="text" name='search-max-price' class='span2 search-price' placeholder="Max. Fiyat" />
                                    <button type="submit" class='btn btn-primary search-property'><i class="icon-search icon-white"></i> Ara</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab4">
                            <div class='inner'>
                                <form action="">
                                    <input type="text" name='search-string' class='search-string' placeholder="Örn. 'İstanbul', 'Ankara'" />
                                    <input type="text" name='search-year' class='search-year' placeholder="Yıl" />
                                    <select name="search-bedrooms" class='span2 selectpicker search-select'>
                                        <option>Salon</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <select name="search-bathrooms" class='span2 selectpicker search-select'>
                                        <option>Oda</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <input type="text" name='search-min-price' class='span2 search-price no-margin' placeholder="Min. Fiyat" />
                                    <span class='line-divider'>&ndash;</span>
                                    <input type="text" name='search-max-price' class='span2 search-price' placeholder="Max. Fiyat" />
                                    <button type="submit" class='btn btn-primary search-property'><i class="icon-search icon-white"></i> Ara</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class='row tab-finder'>
                <div class='span12'>
                    <div class='tab-pane' style='padding-top:10px'>
                        <button type="submit" id='ev_deger' class='btn btn-primary search-property'><i class="icon-search icon-white"></i> Evimin Değerini Öğrenmek İstiyorum</button>
                    </div>
                </div>
            </section>
        </section>
        <section class='row featured-items'>
            <div class='span9'>
                <h2>Featured Items</h2>
                <div class='controls'>
                    <a href="#" class='prev'>Previous</a>
                    <a href="#" class='next'>Next</a>
                </div>
                <div class='featured-items-slider'>
                    <ul class='slides'>
                        <li>
                                                      
                                @for (int i = 0; i < Model.Properties.Count; i++)
                                {
                                    if (i % 3 == 0)
                                    {
                                        <text>
                                          <div class='row'>        
                                            <div class='span3 featured-item-wrapper'>
                                                <div class='featured-item'>
                                                    <div class='top'>
                                                        <div class='inner-border'>
                                                            <div class='inner-padding'>
                                                                <figure>
                                                                    <img style="height: 100%" src="@Model.Properties.ElementAt(i).ImageUrl" alt="" />
                                                                    <div class='banner'>@Model.Properties.ElementAt(i).AdType.Name</div>
                                                                    <a href="@Url.Action("Details", "Properties", new { id = Model.Properties.ElementAt(i).ID })" class='figure-hover'>Zoom</a>
                                                                </figure>
                                                                <h3><a href="@Url.Action("Details", "Properties", new { id = Model.Properties.ElementAt(i).ID })">@Model.Properties.ElementAt(i).Title</a></h3>
                                                                <p>@Model.Properties.ElementAt(i).Address.Country, @Model.Properties.ElementAt(i).Address.City</p>
                                                            </div>
                                                        </div>
                                                        <i class='bubble'></i>
                                                    </div>
                                                    <div class='bottom'>
                                                        <div class='inner-border'>
                                                            <div class='inner-padding'>
                                                                 <p>@Model.Properties.ElementAt(i).RoomCount oda  +  @Model.Properties.ElementAt(i).HallCount salon  +  @Model.Properties.ElementAt(i).M2 m2</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                    
                                                <div class='price-wrapper'>
                                                    <div class='price'>$@Model.Properties.ElementAt(i).Price</div>                                          
                                                </div>
                                           </div>
                                        </text>
                                    }
                                    else if (i % 4 == 3)
                                    {
                                        <div class='span3 featured-item-wrapper'>
                                            <div class='featured-item'>
                                                <div class='top'>
                                                    <div class='inner-border'>
                                                        <div class='inner-padding'>
                                                            <figure>
                                                                <img style="height: 100%" src="@Model.Properties.ElementAt(i).ImageUrl" alt="" />
                                                                <div class='banner'>@Model.Properties.ElementAt(i).AdType.Name</div>
                                                                <a href="@Url.Action("Details", "Properties", new { id = Model.Properties.ElementAt(i).ID })" class='figure-hover'>Zoom</a>
                                                            </figure>
                                                            <h3><a href="@Url.Action("Details", "Properties", new { id = Model.Properties.ElementAt(i).ID })">@Model.Properties.ElementAt(i).Title</a></h3>
                                                            <p>@Model.Properties.ElementAt(i).Address.Country, @Model.Properties.ElementAt(i).Address.City</p>
                                                        </div>
                                                    </div>
                                                    <i class='bubble'></i>
                                                </div>
                                                <div class='bottom'>
                                                    <div class='inner-border'>
                                                        <div class='inner-padding'>
                                                            <p>@Model.Properties.ElementAt(i).RoomCount oda  +  @Model.Properties.ElementAt(i).HallCount salon  +  @Model.Properties.ElementAt(i).M2 m2</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='price-wrapper'>
                                                <div class='price'>$@Model.Properties.ElementAt(i).Price</div>
                                            </div>
                                        </div>
                                         @:</div>
                                    }
                                    else
                                    {
                                        <div class='span3 featured-item-wrapper'>
                                            <div class='featured-item'>
                                                <div class='top'>
                                                    <div class='inner-border'>
                                                        <div class='inner-padding'>
                                                            <figure>
                                                                <img style="height: 100%" src="@Model.Properties.ElementAt(i).ImageUrl" alt="" />
                                                                <div class='banner'>@Model.Properties.ElementAt(i).AdType.Name</div>
                                                                <a href="@Url.Action("Details", "Properties", new { id = Model.Properties.ElementAt(i).ID })" class='figure-hover'>Zoom</a>
                                                            </figure>
                                                            <h3><a href="@Url.Action("Details", "Properties", new { id = Model.Properties.ElementAt(i).ID })">@Model.Properties.ElementAt(i).Title</a></h3>
                                                            <p>@Model.Properties.ElementAt(i).Address.Country, @Model.Properties.ElementAt(i).Address.City</p>
                                                        </div>
                                                    </div>
                                                    <i class='bubble'></i>
                                                </div>
                                                <div class='bottom'>
                                                    <div class='inner-border'>
                                                        <div class='inner-padding'>
                                                            <p>@Model.Properties.ElementAt(i).RoomCount oda  +  @Model.Properties.ElementAt(i).HallCount salon  +  @Model.Properties.ElementAt(i).M2 m2</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='price-wrapper'>
                                                <div class='price'>$@Model.Properties.ElementAt(i).Price</div>
                                            </div>
                                        </div>
                                    }
                                }                                 
                            </div>                       
                        </li>
                        <li>
                            <div class='row'>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834790926_0228ed6cde_b.jpg" alt="" />
                                                        <div class='banner'>For Sale</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">140 E 63rd St</a></h3>
                                                    <p>Boston, MA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$2,150</div>
                                        <div class='rate'>/mo</div>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834812234_3379989227_b.jpg" alt="" />
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">161 E 110th St</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834826842_cdeb5bc8be_b.jpg" alt="" />
                                                        <div class='banner'>For Rent</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">East 61st Street and Park Avenue</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>4 beds  +  2 baths  +  245 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star active'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star active'>4 Star</button>
                                        <button class='star active'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$17,000</div>
                                        <div class='rate'>/year</div>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834790926_0228ed6cde_b.jpg" alt="" />
                                                        <div class='banner'>For Sale</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">140 E 63rd St</a></h3>
                                                    <p>Boston, MA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$2,150</div>
                                        <div class='rate'>/mo</div>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834812234_3379989227_b.jpg" alt="" />
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">161 E 110th St</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834826842_cdeb5bc8be_b.jpg" alt="" />
                                                        <div class='banner'>For Rent</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">East 61st Street and Park Avenue</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>4 beds  +  2 baths  +  245 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star active'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star active'>4 Star</button>
                                        <button class='star active'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$17,000</div>
                                        <div class='rate'>/year</div>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834790926_0228ed6cde_b.jpg" alt="" />
                                                        <div class='banner'>For Sale</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">140 E 63rd St</a></h3>
                                                    <p>Boston, MA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$2,150</div>
                                        <div class='rate'>/mo</div>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834812234_3379989227_b.jpg" alt="" />
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">161 E 110th St</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834826842_cdeb5bc8be_b.jpg" alt="" />
                                                        <div class='banner'>For Rent</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">East 61st Street and Park Avenue</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>4 beds  +  2 baths  +  245 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star active'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star active'>4 Star</button>
                                        <button class='star active'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$17,000</div>
                                        <div class='rate'>/year</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <i class='content-bubble'></i>
            <aside class="span3" style="padding-top:10px">
                <section class="widget">
                    <section class="widget-title uppercase">
                        <div class="inner">
                            <h2>Detaylı Arama</h2>
                        </div>
                    </section>
                    <section class="widget-content">

                        @using (Html.BeginForm("SearchRent", "Search", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="widget-section">
                                <div class="inner">
                                    <label for="location">Konum</label>
                                    <select name="AdresIl" id="AdresIl" class="full"><option value="İSTANBUL" selected="">İSTANBUL</option></select>
                                    <select name="AdresIlce" id="AdresIlce" class="full">
                                        <option value="Seçiniz">Seçiniz</option>
                                        <option value="ADALAR">ADALAR</option>
                                        <option value="ARNAVUTKÖY">ARNAVUTKÖY</option>
                                        <option value="ATAŞEHİR">ATAŞEHİR</option>
                                        <option value="AVCILAR">AVCILAR</option>
                                        <option value="BAĞCILAR">BAĞCILAR</option>
                                        <option value="BAHÇELİEVLER">BAHÇELİEVLER</option>
                                        <option value="BAKIRKÖY">BAKIRKÖY</option>
                                        <option value="BAŞAKŞEHİR">BAŞAKŞEHİR</option>
                                        <option value="BAYRAMPAŞA">BAYRAMPAŞA</option>
                                        <option value="BEŞİKTAŞ">BEŞİKTAŞ</option>
                                        <option value="BEYKOZ">BEYKOZ</option>
                                        <option value="BEYLİKDÜZÜ">BEYLİKDÜZÜ</option>
                                        <option value="BEYOĞLU">BEYOĞLU</option>
                                        <option value="BÜYÜKÇEKMECE">BÜYÜKÇEKMECE</option>
                                        <option value="ÇATALCA">ÇATALCA</option>
                                        <option value="ÇEKMEKÖY">ÇEKMEKÖY</option>
                                        <option value="ESENLER">ESENLER</option>
                                        <option value="ESENYURT">ESENYURT</option>
                                        <option value="EYÜP">EYÜP</option>
                                        <option value="FATİH">FATİH</option>
                                        <option value="GAZİOSMANPAŞA">GAZİOSMANPAŞA</option>
                                        <option value="GÜNGÖREN">GÜNGÖREN</option>
                                        <option value="KADIKÖY">KADIKÖY</option>
                                        <option value="KAĞITHANE">KAĞITHANE</option>
                                        <option value="KARTAL">KARTAL</option>
                                        <option value="KÜÇÜKÇEKMECE">KÜÇÜKÇEKMECE</option>
                                        <option value="MALTEPE">MALTEPE</option>
                                        <option value="PENDİK">PENDİK</option>
                                        <option value="SANCAKTEPE">SANCAKTEPE</option>
                                        <option value="SARIYER">SARIYER</option>
                                        <option value="SİLİVRİ">SİLİVRİ</option>
                                        <option value="SULTANBEYLİ">SULTANBEYLİ</option>
                                        <option value="SULTANGAZİ">SULTANGAZİ</option>
                                        <option value="ŞİLE">ŞİLE</option>
                                        <option value="ŞİŞLİ">ŞİŞLİ</option>
                                        <option value="TUZLA">TUZLA</option>
                                        <option value="ÜMRANİYE">ÜMRANİYE</option>
                                        <option value="ÜSKÜDAR">ÜSKÜDAR</option>
                                        <option value="ZEYTİNBURNU">ZEYTİNBURNU</option>
                                    </select>
                                    <select name="AdresMahalle" id="AdresMahalle" class="full">
                                        <option value="Seçiniz">Seçiniz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="widget-section">
                                <div class="inner">
                                    <label for="propertyType">Emlak Tipi</label>
                                    <select name="emlakTipi" id="propertyType" class="btn-block selectpicker" style="display: none;">
                                        <option>Bahçe Dubleksi</option>
                                        <option>Bahçe Katı</option>
                                        <option>Çatı Dubleksi</option>
                                        <option>Daire</option>
                                        <option>Dubleks</option>
                                        <option>İkiz Ev</option>
                                        <option>Müstakil Ev</option>
                                        <option>Tripleks</option>
                                        <option>Fourlex</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="widget-section">
                                <div class="inner">
                                    <label for="category">İlan Tipi</label>
                                    <select name="ilanTipi" id="category" class="btn-block selectpicker" style="display: none;">
                                        <option >Konut Satılık</option>
                                        <option >Konut Kiralık</option>
                                        <option >Konuk Günlük Kiralık</option>
                                        <option >İş Yeri Satılık</option>
                                        <option >İş Yeri Kiralık</option>
                                        <option >Arsa Satılık</option>
                                        <option >Arsa Kiralık</option>
                                        <option >Turistik İşletme Satılık</option>
                                        <option >Turistik İşletme Kiralık</option>
                                        <option >Devremülk Satılık</option>
                                        <option>Devremülk Kiralık</option>
                                    </select>
                                </div>
                            </div>
                            <div class="widget-section first-half">
                                <div class="inner">
                                    <label for="minPrice">Min. Fiyat</label> 
                                    <input type="text" name='minFiyat' class="input-block-level" />
                                </div>
                            </div>
                            <div class="widget-section second-half">
                                <div class="inner">
                                    <label for="maxPrice">Max. Fiyat</label> 
                                    <input type="text" name='maxFiyat' class="input-block-level" /> 
                                </div>
                            </div>
                            <div class="widget-section">
                                <div class="inner">
                                    <label for="bedrooms">Salon</label>
                                    <select name="salon" id="bedrooms" class="btn-block selectpicker" style="display: none;">
                                        <option >1</option>
                                        <option >2</option>
                                        <option >3</option>
                                    </select>
                                    <label for="bedrooms">Oda</label>
                                    <select name="oda" id="bedrooms" class="btn-block selectpicker" style="display: none;">
                                        <option >1</option>
                                        <option >2</option>
                                        <option >3</option>
                                        <option >4</option>
                                        <option >5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="widget-section">
                                <div class="inner" style="position: relative;">
                                    <label for="size">Metrekare</label>
                                    <input type="text" name="metrekare" id="size" class="input-block-level" value="500">
                                    <span class="measure-type">sqft</span>
                                </div>
                            </div>
                            <section class="widget-buttons">
                                <div class="inner">
                                 <button type="submit" class="btn btn-primary btn-large btn-block"><i class="icon-search icon-white"></i> Filtrele</button>
                                </div>
                            </section>
                        }
                    </section>
                </section>
            </aside>
        </section>
    </section>
</section>