@{
    ViewBag.Title = "Home Page";

}
@model DNZ_Gayrimenkul.ViewModels.HomeViewModel

<section id='homepage-slider'>
    <div class='controls-wrapper'>
        <section class='container'>
            <section class='row'>
                <div class='controls hidden-phone'>
                    <a href="#" class='prev'>Previous</a>
                    <a href="#" class='next'>Next</a>
                </div>
            </section>
        </section>
    </div>
    <section class='slider-wrapper'>
        <div class='homepage-slider hidden-phone'>
            <ul class='slides'>
                @foreach (var i in Model.Features)
                {
                    <li>
                        <img src="@i.ImageUrl" alt="" class='bg-image' />
                        <div class='container'>
                            <div class='row'>
                                <div class='span12'>
                                    <div class='text-box span6'>
                                        <h1><a href="property.html">@i.Title</a></h1>
                                        <p></p>
                                    </div>
                                    <div class='description'>
                                        <div class='left'>
                                            <div class='title'>
                                                <div class='big'>Seaway house</div>
                                                <div class='small'>Los Angeles, CA</div>
                                            </div>
                                            <div class='rooms'> 3 bedrooms - 2 bathrooms </div>
                                        </div>
                                        <div class='right'>
                                            <div class='price'>
                                                <div class='number'> $1200 </div>
                                                <div class='rate'> per month </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }    
            </ul>
        </div>
    </section>
</section>

<section id='main' role='main'>
    <section class='container'>
        <section class='row tab-finder'>
            <div class='span12'>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active first-tab"><a href="#tab1" data-toggle="tab">Satılık</a></li>
                        <li><a href="#tab2" data-toggle="tab">Kiralık</a></li>
                        <li><a href="#tab3" data-toggle="tab">Satmak İstiyorum</a></li>
                        <li class='last-tab'><a href="#tab4" data-toggle="tab">Kiralamak İstiyorum</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class='inner'>
                                <form action="">
                                    <select name="search-bedrooms" class='span2 selectpicker search-select'>
                                        <option>Salon</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <select name="search-bathrooms" class='span2 selectpicker search-select'>
                                        <option>Oda</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <input type="text" name='search-min-price' class='span2 search-price no-margin' placeholder="Min. Fiyat" />
                                    <span class='line-divider'>&ndash;</span>
                                    <input type="text" name='search-max-price' class='span2 search-price' placeholder="Max. Fiyat" />
                                    <button type="submit" class='btn btn-primary search-property'><i class="icon-search icon-white"></i> Ara</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <div class='inner'>
                                <form action="">
                                    <select name="search-bedrooms" class='span2 selectpicker search-select'>
                                        <option>Salon</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <select name="search-bathrooms" class='span2 selectpicker search-select'>
                                        <option>Oda</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <input type="text" name='search-min-price' class='span2 search-price no-margin' placeholder="Min. Fiyat" />
                                    <span class='line-divider'>&ndash;</span>
                                    <input type="text" name='search-max-price' class='span2 search-price' placeholder="Max. Fiyat" />
                                    <button type="submit" class='btn btn-primary search-property'><i class="icon-search icon-white"></i> Ara</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <div class='inner'>
                                <form action="">
                                    <input type="text" name='search-string' class='search-string' placeholder="Örn. 'İstanbul', 'Ankara'" />
                                    <input type="text" name='search-year' class='search-year' placeholder="Yıl" />
                                    <select name="search-bedrooms" class='span2 selectpicker search-select'>
                                        <option>Salon</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <select name="search-bathrooms" class='span2 selectpicker search-select'>
                                        <option>Oda</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <input type="text" name='search-min-price' class='span2 search-price no-margin' placeholder="Min. Fiyat" />
                                    <span class='line-divider'>&ndash;</span>
                                    <input type="text" name='search-max-price' class='span2 search-price' placeholder="Max. Fiyat" />
                                    <button type="submit" class='btn btn-primary search-property'><i class="icon-search icon-white"></i> Ara</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab4">
                            <div class='inner'>
                                <form action="">
                                    <input type="text" name='search-string' class='search-string' placeholder="Örn. 'İstanbul', 'Ankara'" />
                                    <input type="text" name='search-year' class='search-year' placeholder="Yıl" />
                                    <select name="search-bedrooms" class='span2 selectpicker search-select'>
                                        <option>Salon</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <select name="search-bathrooms" class='span2 selectpicker search-select'>
                                        <option>Oda</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <input type="text" name='search-min-price' class='span2 search-price no-margin' placeholder="Min. Fiyat" />
                                    <span class='line-divider'>&ndash;</span>
                                    <input type="text" name='search-max-price' class='span2 search-price' placeholder="Max. Fiyat" />
                                    <button type="submit" class='btn btn-primary search-property'><i class="icon-search icon-white"></i> Ara</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class='row tab-finder'>
                <div class='span12'>
                    <div class='tab-pane' style='padding-top:10px'>
                        <button type="submit" id='ev_deger' class='btn btn-primary search-property'><i class="icon-search icon-white"></i> Evimin Değerini Öğrenmek İstiyorum</button>
                    </div>
                </div>
            </section>
        </section>
        <section class='row featured-items'>
            <div class='span9'>
                <h2>Featured Items</h2>
                <div class='controls'>
                    <a href="#" class='prev'>Previous</a>
                    <a href="#" class='next'>Next</a>
                </div>
                <div class='featured-items-slider'>
                    <ul class='slides'>
                        <li>
                            <div class='row'>
                                @foreach (var i in Model.Properties)
                                {
                                    <div class='span3 featured-item-wrapper'>
                                        <div class='featured-item'>
                                            <div class='top'>
                                                <div class='inner-border'>
                                                    <div class='inner-padding'>
                                                        <figure>
                                                            <img style="height: 100%" src="@i.ImageUrl" alt="" />
                                                            <div class='banner'>@i.AdType.Name</div>
                                                            <a href="property.html" class='figure-hover'>Zoom</a>
                                                        </figure>
                                                        <h3><a href="property.html">@i.Title</a></h3>
                                                        <p>@i.Address.Country, @i.Address.City</p>
                                                    </div>
                                                </div>
                                                <i class='bubble'></i>
                                            </div>
                                            <div class='bottom'>
                                                <div class='inner-border'>
                                                    <div class='inner-padding'>
                                                         <p>@i.RoomCount oda  +  @i.HallCount salon  +  @i.M2 m2</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                    
                                        <div class='price-wrapper'>
                                            <div class='price'>$@i.Price</div>                                          
                                        </div>
                                    </div>
                                }
                              
                          
                            </div>
                            <div class='row'>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834194361_85d5c4a5e0_b.jpg" alt="" />
                                                        <div class='banner'>For Rent</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">1 Central Park S</a></h3>
                                                    <p>Las Vegas, NV</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$2,150</div>
                                        <div class='rate'>/mo</div>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834197589_84d75a42bd_b.jpg" alt="" />
                                                        <div class='banner'>For Sale</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">555 Malcolm X Blvd</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834201025_e7f66118eb_b.jpg" alt="" />
                                                        <div class='banner'>For Rent</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">520 W 110th St</a></h3>
                                                    <p>Las Vegas, NV</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>4 beds  +  2 baths  +  245 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star active'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star active'>4 Star</button>
                                        <button class='star active'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$17,000</div>
                                        <div class='rate'>/year</div>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834194361_85d5c4a5e0_b.jpg" alt="" />
                                                        <div class='banner'>For Rent</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">1 Central Park S</a></h3>
                                                    <p>Las Vegas, NV</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$2,150</div>
                                        <div class='rate'>/mo</div>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834197589_84d75a42bd_b.jpg" alt="" />
                                                        <div class='banner'>For Sale</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">555 Malcolm X Blvd</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834201025_e7f66118eb_b.jpg" alt="" />
                                                        <div class='banner'>For Rent</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">520 W 110th St</a></h3>
                                                    <p>Las Vegas, NV</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>4 beds  +  2 baths  +  245 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star active'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star active'>4 Star</button>
                                        <button class='star active'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$17,000</div>
                                        <div class='rate'>/year</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class='row'>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834790926_0228ed6cde_b.jpg" alt="" />
                                                        <div class='banner'>For Sale</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">140 E 63rd St</a></h3>
                                                    <p>Boston, MA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$2,150</div>
                                        <div class='rate'>/mo</div>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834812234_3379989227_b.jpg" alt="" />
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">161 E 110th St</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834826842_cdeb5bc8be_b.jpg" alt="" />
                                                        <div class='banner'>For Rent</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">East 61st Street and Park Avenue</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>4 beds  +  2 baths  +  245 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star active'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star active'>4 Star</button>
                                        <button class='star active'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$17,000</div>
                                        <div class='rate'>/year</div>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834790926_0228ed6cde_b.jpg" alt="" />
                                                        <div class='banner'>For Sale</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">140 E 63rd St</a></h3>
                                                    <p>Boston, MA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$2,150</div>
                                        <div class='rate'>/mo</div>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834812234_3379989227_b.jpg" alt="" />
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">161 E 110th St</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834826842_cdeb5bc8be_b.jpg" alt="" />
                                                        <div class='banner'>For Rent</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">East 61st Street and Park Avenue</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>4 beds  +  2 baths  +  245 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star active'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star active'>4 Star</button>
                                        <button class='star active'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$17,000</div>
                                        <div class='rate'>/year</div>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834790926_0228ed6cde_b.jpg" alt="" />
                                                        <div class='banner'>For Sale</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">140 E 63rd St</a></h3>
                                                    <p>Boston, MA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$2,150</div>
                                        <div class='rate'>/mo</div>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834812234_3379989227_b.jpg" alt="" />
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">161 E 110th St</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>3 beds  +  1 bath  +  100 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star blue'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star'>4 Star</button>
                                        <button class='star'>5 Star</button>
                                    </div>
                                </div>
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/photos/4834826842_cdeb5bc8be_b.jpg" alt="" />
                                                        <div class='banner'>For Rent</div>
                                                        <a href="property.html" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="property.html">East 61st Street and Park Avenue</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>4 beds  +  2 baths  +  245 sqft</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='star-rating'>
                                        <button class='star active'>1 Star</button>
                                        <button class='star active'>2 Star</button>
                                        <button class='star active'>3 Star</button>
                                        <button class='star active'>4 Star</button>
                                        <button class='star active'>5 Star</button>
                                    </div>
                                    <div class='price-wrapper'>
                                        <div class='price'>$17,000</div>
                                        <div class='rate'>/year</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <i class='content-bubble'></i>
            <aside class="span3" style="padding-top:10px">
                <section class="widget">
                    <section class="widget-title uppercase">
                        <div class="inner">
                            <h2>Refine Search</h2>
                        </div>
                    </section>
                    <section class="widget-content">
                        <form action="">
                            <div class="widget-section">
                                <div class="inner">
                                    <label for="location">Location</label>
                                    <input type="text" name="location" id="location" class="input-block-level" value="Oxford">
                                </div>
                            </div>
                            <div class="widget-section">
                                <div class="inner">
                                    <label for="propertyType">Property Type</label>
                                    <select name="propertyType" id="propertyType" class="btn-block selectpicker" style="display: none;">
                                        <option value="all">All</option>
                                        <option value="all">Mansion</option>
                                        <option value="all">Apartment</option>
                                    </select><div class="btn-group bootstrap-select btn-block"><button type="button" class="btn dropdown-toggle clearfix" data-toggle="dropdown" id="propertyType"><span class="filter-option pull-left">All</span>&nbsp;<span class="caret"></span></button><ul class="dropdown-menu" role="menu" style="max-height: 466px; overflow-y: auto; min-height: 0px;"><li rel="0" class="selected"><a tabindex="-1" href="#" class=""><span class="text">All</span><i class="icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="-1" href="#" class=""><span class="text">Mansion</span><i class="icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="-1" href="#" class=""><span class="text">Apartment</span><i class="icon-ok check-mark"></i></a></li></ul></div>
                                </div>
                            </div>
                            <div class="widget-section">
                                <div class="inner">
                                    <label for="category">Category</label>
                                    <select name="propertyType" id="category" class="btn-block selectpicker" style="display: none;">
                                        <option value="all">For Sale</option>
                                        <option value="all">For Rent</option>
                                        <option value="all">Forclosures</option>
                                    </select><div class="btn-group bootstrap-select btn-block"><button type="button" class="btn dropdown-toggle clearfix" data-toggle="dropdown" id="category"><span class="filter-option pull-left">For Sale</span>&nbsp;<span class="caret"></span></button><ul class="dropdown-menu" role="menu" style="max-height: 368px; overflow-y: auto; min-height: 0px;"><li rel="0" class="selected"><a tabindex="-1" href="#" class=""><span class="text">For Sale</span><i class="icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="-1" href="#" class=""><span class="text">For Rent</span><i class="icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="-1" href="#" class=""><span class="text">Forclosures</span><i class="icon-ok check-mark"></i></a></li></ul></div>
                                </div>
                            </div>
                            <div class="widget-section first-half">
                                <div class="inner">
                                    <label for="minPrice">Min. Price</label>
                                    <select name="propertyType" id="minPrice" class="btn-block selectpicker" style="display: none;">
                                        <option value="all">$17K</option>
                                        <option value="all">$27K</option>
                                        <option value="all">$37K</option>
                                    </select><div class="btn-group bootstrap-select btn-block"><button type="button" class="btn dropdown-toggle clearfix" data-toggle="dropdown" id="minPrice"><span class="filter-option pull-left">$17K</span>&nbsp;<span class="caret"></span></button><ul class="dropdown-menu" role="menu" style="max-height: 270px; overflow-y: auto; min-height: 0px;"><li rel="0" class="selected"><a tabindex="-1" href="#" class=""><span class="text">$17K</span><i class="icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="-1" href="#" class=""><span class="text">$27K</span><i class="icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="-1" href="#" class=""><span class="text">$37K</span><i class="icon-ok check-mark"></i></a></li></ul></div>
                                </div>
                            </div>
                            <div class="widget-section second-half">
                                <div class="inner">
                                    <label for="maxPrice">Max. Price</label>
                                    <select name="propertyType" id="maxPrice" class="btn-block selectpicker" style="display: none;">
                                        <option value="all">$999K</option>
                                        <option value="all">$899K</option>
                                        <option value="all">$799K</option>
                                    </select><div class="btn-group bootstrap-select btn-block"><button type="button" class="btn dropdown-toggle clearfix" data-toggle="dropdown" id="maxPrice"><span class="filter-option pull-left">$999K</span>&nbsp;<span class="caret"></span></button><ul class="dropdown-menu" role="menu" style="max-height: 270px; overflow-y: auto; min-height: 0px;"><li rel="0" class="selected"><a tabindex="-1" href="#" class=""><span class="text">$999K</span><i class="icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="-1" href="#" class=""><span class="text">$899K</span><i class="icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="-1" href="#" class=""><span class="text">$799K</span><i class="icon-ok check-mark"></i></a></li></ul></div>
                                </div>
                            </div>
                            <div class="widget-section">
                                <div class="inner">
                                    <label for="bedrooms">Bedrooms</label>
                                    <select name="propertyType" id="bedrooms" class="btn-block selectpicker" style="display: none;">
                                        <option value="all">3</option>
                                        <option value="all">2</option>
                                        <option value="all">4</option>
                                        <option value="all">5</option>
                                    </select><div class="btn-group bootstrap-select btn-block"><button type="button" class="btn dropdown-toggle clearfix" data-toggle="dropdown" id="bedrooms"><span class="filter-option pull-left">3</span>&nbsp;<span class="caret"></span></button><ul class="dropdown-menu" role="menu" style="max-height: 172px; overflow-y: auto; min-height: 92px;"><li rel="0" class="selected"><a tabindex="-1" href="#" class=""><span class="text">3</span><i class="icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="-1" href="#" class=""><span class="text">2</span><i class="icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="-1" href="#" class=""><span class="text">4</span><i class="icon-ok check-mark"></i></a></li><li rel="3"><a tabindex="-1" href="#" class=""><span class="text">5</span><i class="icon-ok check-mark"></i></a></li></ul></div>
                                </div>
                            </div>
                            <div class="widget-section">
                                <div class="inner" style="position: relative;">
                                    <label for="size">Size</label>
                                    <input type="text" name="size" id="size" class="input-block-level" value="500">
                                    <span class="measure-type">sqft</span>
                                </div>
                            </div>
                            <div class="widget-section">
                                <div class="inner">
                                    <label for="range">Slide Example</label>
                                    <div class="slider slider-horizontal" style="width: 230px;"><div class="slider-track"><div class="slider-selection" style="left: 29%; width: 49%;"></div><div class="slider-handle" style="left: 29%;"></div><div class="slider-handle" style="left: 78%;"></div></div><div class="tooltip top" style="top: -54px; left: 83.55px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">29 : 78</div></div><input type="text" name="size" id="range" class="input-block-level range-example"></div>
                                </div>
                            </div>
                            <section class="widget-buttons">
                                <div class="inner">
                                    <a href="#" class="more-options">More Options</a> <br>
                                    <a href="#" class="btn btn-primary btn-large btn-block">Update</a>
                                </div>
                            </section>
                        </form>
                    </section>
                </section>
            </aside>
        </section>
    </section>
</section>